*{
  margin: 0;
  box-sizing: border-box;
}

.notifications {
  color: #000;
  text-align: center;

  .notice {
    background-color: #87cefa;
  }

  .alert {
    background-color: #ff4500;
  }
}


.wrapper{
  height: 100vh;
  padding-top: 100px;
  display: flex;
  overflow: scroll;

  .main{
    width: 900px;
    // background-color: rgba(255,215,0,0.4);
    // background: linear-gradient(rgba(255,99,71,0.1), rgba(255,99,71,0.4));
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: rgba(255,99,71,0.7);
    overflow: scroll;
    &-title{
      width: 900px;
      padding: 8px 10px;
      display: flex;
      &-image{
        height: 54px;
        width: 54px;
      }
      &__text{
        font-size: 30px;
        font-weight: bold;
        line-height: 54px;
      }
      &__select{
        font-size: 20px;
        line-height: 54px;
      }
    }
    &-select{
      .select-text{
        display: block;
        height: 20px;
        font-size: 14px;
        margin: 0 20px 8px;
      }
    }

    .content{
      // background-color: rgba(255,215,0,0.2);
      padding: 20px;
      // margin-bottom: 30px;
      margin-right: 0;
      border-top: 1px solid;
      border-color: rgba(255,99,71,0.7);
      position: relative;

      &-user{
        margin-bottom: 5px;
        display: flex;
        position: relative;

        &__image{
          height: 50px;
          width: 50px;
          object-fit: cover;
          background-color: gray;
          border-radius: 50%;

          &-btn{
            height: 50px;
            width: 50px;
            object-fit: cover;
            border: 1px solid #000;
            border-radius: 50%;
          }
          &-btn:hover{
            opacity: 0.7;
          }
        }

        &__name{
          font-size: 26px;
          color: #000;
          margin-left: 15px;
          text-decoration: none;
        }
        &__name:hover{
          text-decoration: underline;
        }

        &__time{
          color: gray;
          position: absolute;
          right: 20px;
        }
      }

      &-time{
        color: gray;
        position: absolute;
        right: 20px;
      }

      &-title{
        font-size: 36px;
        color: #000;
        margin-bottom: 10px;

        &__text{
          text-decoration: none;
          font-size: 36px;
          color: #000;
        }
        &__text:hover{
          text-decoration: underline;
        }
      }

      &-music{
        margin-bottom: 10px;
        .audiojs{
          width: 100%;
          .play-pause{
            width: 40px;
          }
          .scrubber{
            width: 75%;
          }
          .time{
            width: 100px;
          }
        }
      }

      &-text{
        font-size: 26px;
      }

      &-menu{
        padding: 3px 20px;
        border-top: 1px solid;
        border-bottom: 1px solid;
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        position: relative;

        &__good{
          text-decoration: none;
          font-size: 20px;
          color: grey;
        }

        &__comment{
          text-decoration: none;
          font-size: 20px;
          color: grey;
        }

        &__edit{
          text-decoration: none;
          font-size: 20px;
          color: blue;
        }

        &__destroy{
          text-decoration: none;
          font-size: 20px;
          color: red;
        }

        &__nil{
          font-size: 20px;
          color: grey;
          margin: 0 auto;
        }

        &__null{
          height: 30px;
          width: 40px;
        }

      }
      .comment-form{
        display: flex;
        .comment-input{
          height: 40px;
          width: 100%;
          font-size: 20px;
        }
        .comment-submit{
          padding: 5px 15px;
          background-color: #808080;
          color: #c0c0c0;
          border-style: none;
        }
      }


      .comment-list{
        // border-top: 1px solid;
        font-size: 20px;
        margin-bottom: 10px;
      }
      .comment{
        margin-bottom: 10px;
        display: flex;
        justify-content: space-between;

        &-user{
          display: flex;

          &__image{
            height: 30px;
            width: 30px;
            object-fit: cover;
            border: 1px solid #000;
            border-radius: 50%;
          }

          &__name{
            font-size: 15px;
            color: #000;
            text-decoration: none;
            margin-left: 3px;
          }

          &__message{
            font-size: 15px;
          }
        }

        &-edit{
          background-color: #d3d3d3;
          border: 1px solid;
          border-radius: 7px;
          padding: 2px 4px;

          &__btn{
            font-size: 15px;
            color: #000;
            text-decoration: none;
          }
        }
      }
    }
  }
  // .right{
  //   width: 300px;
  // }

}