.p-top__paginate {
  font-size: 20px;
  text-align: center;
  .prev{
    margin-left: 10px;
  }
  .page{
    margin-left: 10px;
  }
  .next{
    margin-left: 10px;
  }
  .last{
    margin-left: 10px;
  }
}
