.p-top__paginate {
  background-color: rgba(255,99,71,0.5);
  font-size: 20px;
  text-align: center;
  padding: 18px;
  border-bottom: 1px solid;
  .pagination{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    span{
      display: block;
      background-color: #fff;
      padding: 0 8px;
      border: 1px solid;
      border-radius: 5px;
      margin-left: 10px;
      cursor: pointer;
      a{
        color: #000;
      }
    }
    .current:hover{
      background-color: #fff;
    }
    span:hover{
      background-color: tomato;
    }
  }
}
