body{
  background: linear-gradient(rgba(255,99,71,0.1), rgba(255,99,71,0.3));
}
.form{
  height: 100vh;
  width: 800px;
  background-color: rgba(255,215,0,0.4);
  margin: 0 auto;
  padding-top: 100px;
}


.user{
  // height: 300px;
  display: flex;
  justify-content: space-between;
  &-box{
    &__image{
      border: 2px solid;
      border-radius: 50px;
    }
    &__name{
      font-size: 40px;
      margin-bottom: 20px;
    }
    &__message{
      font-size: 20px;
      margin-bottom: 15px;
    }
  }
  &-edit{
    font-size: 20px;
  }
}